/*------------------------------------*\
    #COMPONENTS TABLE
\*------------------------------------*/

table{
    th{
        text-align:left;
        font-weight:600;
    }
    width: 100%;
}

.table--striped{
	tr:nth-child(even) {
		background: $color-body; 		
	}
	tr:nth-child(odd) {
		background: lighten($color-gray-ui,5);		
	}
}